
<div class="row">
        <div class="col-sm-2 user">
                
                </div>
                
                
                <ng-container  *ngIf="!!chirps">
                <div class="col-sm-10 contain">
                    <div class="container-fluid chirper"></div>
                    <mat-card class="chirp" *ngFor="let chirp of chirps">
                        <mat-card-header>
                            <mat-card-title style="font-weight:bold"> {{ chirp.name | uppercase }} </mat-card-title>
                            <mat-card-subtitle> @{{ chirp.username }} </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{ chirp.message }} 
                        </mat-card-content>
                        <mat-card-actions class="button-row" style="color:white">
                            <button mat-icon-button>
                                <mat-icon>reply</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon>autorenew</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                            <button (click)="openDialog(chirp)" mat-icon-button>
                                <mat-icon>message</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                </ng-container>

</div>
            



