  <body class="mat-app-background">
      <img src="http://www.aberke.com/static/img/twitter_bird.png">
    <mat-card class='form-container'>
      <mat-card-title>Sign up</mat-card-title>
      <ng-container novalidate [formGroup]='form' (ngSubmit)='createNewUser()'>
        <mat-form-field>
          <input matInput formControlName='name' name='name' placeholder='Name'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='username' name='username' placeholder='Username'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='email' name='email' placeholder='Email'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='password' name='password' placeholder='Password'>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button>Create Account</button>
        </mat-card-actions>
      </ng-container>
    </mat-card>
    <h3 class='mat-h3'>Already a member? <button mat-button (click)="openDialog()">Sign in</button></h3>
  </body>