<body class="mat-app-background">
    
    <h1>Chirper</h1>
    
    <mat-card class='form-container'>
      <div novalidate [formGroup]='form' (ngSubmit)='createNewUser()'>
        <mat-form-field>
          <input matInput formControlName='name' name='name' placeholder='Name'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='username' name='username' placeholder='Username'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='email' name='email' placeholder='Email'>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='password' name='password' placeholder='Password'>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button>Sign Up!</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </body>



