.mat-app-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    .form-container {
        width: 40em;
        text-align: center;
        mat-form-field {
            display: block;
        }
    }
    h1 {
        display: block;
        color: white;
    }
}