 .profile{
    display: table;
    background-color: white;
    color: black;
}

.feed{
    margin: auto 25%;
    background-color:blanchedalmond;
}

.thoughts{
    margin: auto 25%;
    text-align: center;
    background-color: blue;
}

.thoughts #bye{
    display: block;
}