.form-container {
    max-width: 70em;
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    mat-form-field {
        width: 90%;
        text-align: left;
        margin: 0;
    }
    mat-input {
        max-width: 10em;
    }
    mat-card-actions {
        margin: 0;
        float: right;
    }
}
